<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor   Patient Management</title>
</head>
<body>
    <h1> Patient Management</h1>
    <p>Welcome to the Patient Management page!</p>
    <form>
  <div class="mb-3">
    <label for="firstname" class="form-label">First Name</label>
    <input type="text" class="form-control" id="firstname" placeholder="Enter firstname" required>
  </div>
  <div class="mb-3">
    <label for="lastname" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="lastname" placeholder="Enter lastname" required>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp"  required>
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <label for="patient_id" class="form-label">Patient ID</label>
    <input type="text" class="form-control" id="patient_id" placeholder="Enter patient ID" required>
  </div>
  <label for="Age" class="form-label">Age</label>
    <input type="number" class="form-control" id="Age" placeholder="Enter age" required>
  </div>
    <label for="gender" class="form-label">Gender</label>
    <input type="checkbox" class="form-control" id="gender" required >
  </div>
  <div class="mb-3">
    <label for="phonenumber" class="form-label">Phone Number</label>
    <input type="text" class="form-control" id="phonenumber" placeholder="Enter phone number">
  </div>
  <div class="mb-3">
    <label for="address" class="form-label">Address</label>
    <input type="text" class="form-control" id="address" placeholder="Enter address">
  </div>
  <div class="mb-3">
    <label for="dateregistered" class="form-label">Date Registered</label>
    <input type="date" class="form-control" id="dateregistered"placeholder="Enter date registered">
  </div>
  <div class="mb-3">
    <label for="dateofbirth" class="form-label">Date of Birth</label>
    <input type="date" class="form-control" id="dateofbirth"placeholder="Enter date of birth">
  </div><div class="mb-3">
    <label for="medicalhistory" class="form-label">Medical History</label>
    <input type="text" class="form-control" id="medicalhistory" placeholder="Enter medical history">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>